---
---

@import "sticky-footer";

$color-primary: #1c5288;
$color-primary-2: #12598d;
$color-secondary: #175a91;
$color-secondary-2: #1f3553;
$color-background: #ffffff;
$color-background-2: #f9f9f9;
$color-text: #ffffff;
$color-text-2: #464646;

$background-image: "/img/Background.png";

body {
    font-family: "Open Sans", sans-serif;
}

.body-background {
    background-color: $color-background;
    background-image: url($background-image);
}

.navbar {
    background-color: mix($color-primary, $color-primary-2);
    background: linear-gradient(to bottom, $color-primary-2 0%, $color-primary 100%);
    margin-bottom: 0px;
    border-radius: 0px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.3);
    border: none;
    
    .nav li {
        &.active {
            background-color: rgba(0, 0, 0, 0.1);
        }
        
        &.new {
            background: linear-gradient(to right, transparent 0%, #1b70b5 20%, #2e8edc 50%, #1b70b5 80%, transparent 100%) left bottom transparent no-repeat;
            background-size: 100% 2px;
        }
        
        a {
            color: $color-text;
        }
        
        a:hover, a:hover:focus {
            background-color: rgba(0, 0, 0, 0.1);
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 25px rgba(255, 255, 255, 0.6);
        }
        
        a:focus {
            background-color: transparent;
        }
    }
    
    .navbar-header button {
        background-color: #1b6ea8;
        box-shadow: 0px 3px 0px #1c557c;
    }

    .navbar-header span {
        background-color: rgb(255, 255, 255);
    }
}

@media (min-width: 768px) {
    .navbar-center .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    
    .navbar-center .navbar-collapse {
        text-align: center;
    }
    
    .navbar-compact .container, .navbar-compact .container #navbar {
        padding-left: 0px;
    }
}

.jumbotron {
    background-color: mix($color-secondary, $color-secondary-2);
    background: radial-gradient(at top, $color-secondary 0%, $color-secondary-2 100%);
    color: $color-text;
    padding-top: 0px;
    padding: 50px 0px 60px;
    margin-bottom: 0px;
    
    h1 {
        font-size: 120px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    
    p {
        margin: 25px 0px 35px;
        font-size: 25px;
    }
}

.jumbotron-main {
    text-align: center;
    
    .btn {
        background-color: white;
        border-color: transparent;
        color: #267bc4;
        border-radius: 4px;
        padding: 10px 0px;
        margin: 10px 10px 0px 10px;
        font-size: 20px;
        box-shadow: 0px 6px 0px #dbdbdb;
        text-shadow: 0px 1px 0px #ffffff;
        position: relative;
        width: 200px;
    }
    
    .btn:hover {
        color: #1c92e6;
        text-shadow: 0px 1px 0px #ffffff, 0px 0px 30px rgba(0, 186, 255, 0.4);
    }
    
    .btn:active {
        color: #257cb9;
        background-color: #f4f4f4;
        box-shadow: 0px 3px 0px #dbdbdb;
        top: 3px;
    }
    
    .tooltip {
        margin-top: 8px;
    }
    
    .tooltip .tooltip-inner {
        background-color: mix($color-primary, $color-primary-2);
        background: linear-gradient(to bottom, $color-primary-2 0%, $color-primary 100%);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        padding: 0px;
        font-size: 15px;
        max-width: none;
        white-space: pre-wrap;
        text-align: left;
    }
    
    .tooltip .tooltip-arrow {
        display: none;
    }
    
    .tooltip.in {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    
    .tooltip a {
        color: $color-text;
        text-decoration: none;
    }
    
    .tooltip div {
        padding: 7px 12px;
    }
}

.jumbotron-compact {
    padding: 25px 0px;
    
    h1 {
        font-size: 70px;
    }
    
    a {
        color: $color-text;
        text-decoration: none;
    }
    
    a:hover {
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(255, 255, 255, 0.2);
    }
    
    p {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
        font-size: 34px;
        margin: 0px;
    }
}

.container-screenshot {
    background-color: $color-background;
    background-image: url($background-image);
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;

    .img-responsive-parent {
        margin: 20px;
    }
    
    img {
        margin: 0px auto 30px auto;
        box-shadow: 0px 0px 30px rgba(29, 80, 123, 0.3);
    }
    
    .btn {
        background-color: #2f7cb4;
        border-color: transparent;
        color: $color-text;
        border-radius: 4px;
        padding: 10px 50px;
        margin-top: 20px;
        font-size: 20px;
        box-shadow: 0px 6px 0px #2c6a98;
        position: relative;
    }
    
    .btn:hover {
        text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
    }
    
    .btn:active {
        background-color: #2e78ad;
        box-shadow: 0px 3px 0px #2c6a98;
        top: 3px;
    }
}

.container-features {
    padding-top: 10px;
    padding-bottom: 30px;
    color: $color-text-2;
    background-color: $color-background;
    border-top: 1px solid #ececec;
    
    &:nth-of-type(even) {
        background-color: $color-background-2;
    }
    
    h3 {
        font-size: 28px;
        margin-bottom: 20px;
    }
    
    h3 .fa {
        font-size: 50px;
        vertical-align: middle;
        margin-right: 20px;
        padding-bottom: 5px;
    }
    
    h4 {
        font-size: 20px;
        margin-bottom: 20px;
        padding-bottom: 8px;
    }
    
    h4:not(.collapsed) {
        background: linear-gradient(to right, #cccccc 0%, transparent 80%) left bottom transparent no-repeat;
        background-size: 100% 1px;
    }
    
    .col-sm-3 {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px;
    }
}

[data-toggle="collapse"] {
    cursor: pointer;
    
    .fa {
        width: 20px;
        margin-right: 8px;
    }
    
    .fa:before {
        content: "\f078";
    }
    
    &.collapsed .fa:before {
        content: "\f054";
    }
}

footer {
    background-color: mix($color-primary, $color-primary-2);
    background: linear-gradient(to bottom, $color-primary-2 0%, $color-primary 100%);
    color: $color-text;
    box-shadow: 0px 0px 40px rgba(22, 40, 69, 0.4);
    padding: 20px 0px;
    text-align: center;
    
    p {
        margin: 0px;
    }
    
    a, a:focus, a:hover {
        color: $color-text;
    }
}

.container-content {
    padding-top: 10px;
    padding-bottom: 30px;
}

.container-donate {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    background-color: $color-background-2;
    color: $color-text-2;
}

.container-donate-2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.donate-note {
    margin-top: 0px;
    margin-bottom: 30px;
    background-color: $color-secondary;
    border: none;
    color: $color-text;
    
    a {
        color: $color-text;
        text-decoration: underline;
    }
}

.donate-button {
    margin-right: 15px;
}

.patrons-panel {
    margin-top: 30px;
    margin-bottom: 10px;
    border-color: $color-secondary;
    
    .panel-heading {
        color: $color-text;
        background-color: $color-secondary;
        border-color: $color-secondary;
    }
}

.container-callback {
    margin-top: 30px;
    margin-bottom: 10px;
    
    .panel {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    }
    
    #callback-code .btn {
        width: 150px;
    }

    #callback-error {
        display: none;
    }
}

.container-downloads {
    padding-top: 30px;
    padding-bottom: 20px;
    
    h1 {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    
    .table-downloads {
        display: none;
        
        .label {
            font-weight: 500;
        }
        
        tr {
            background-color: $color-background;
        }
        
        tbody tr:nth-of-type(odd) {
            background-color: $color-background-2;
        }
    }
}

.container-changelog {
    padding-bottom: 30px;
    
    h3 {
        margin-top: 30px;
        padding-bottom: 5px;
        background: linear-gradient(to right, $color-primary 0%, transparent 100%) left bottom transparent no-repeat;
        background-size: 100% 1px;
    }
    
    .markdown > ul {
        padding-left: 25px;
    }
}

.markdown {
    h2, h3, h4 {
        margin-bottom: 15px;
    }
    
    h4 {
        margin-top: 15px;   
    }
    
    li {
        margin-top: 4px;
    }
    
    code {
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        padding: 3px 5px;
        margin: 0px;
        font-size: 85%;
        color: #337ab7;
        color: #333;
        background-color: rgba(0, 0, 0, 0.03);
        border-radius: 3px;
    }
    
    hr {
        border-top: 1px solid #ababab;
    }
    
    kbd {
        display: inline-block;
        padding: 3px 5px;
        font-size: 11px;
        line-height: 10px;
        color: #555;
        vertical-align: middle;
        background-color: #fcfcfc;
        border: solid 1px #ccc;
        border-bottom-color: #bbb;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 #bbb;
    }
}