---
---

@import "sticky-footer";
@import "highlight";

$color-primary: #1c5288;
$color-primary-2: #12598d;
$color-secondary: #175a91;
$color-secondary-2: #1f3553;
$color-background: radial-gradient(at top, #353B44 -10%, #252932 60%);
$color-background-shade: radial-gradient(at top, #272b31 -10%, #1b1f25 60%);
$color-text: #ffffff;
$color-text-2: #e7e9ea;
$color-border: #444950;
$header-line: linear-gradient(to right, #717477 0%, transparent 80%) left bottom transparent no-repeat;

$background-image: "/img/Background.png";

$font: "Open Sans", sans-serif;

body {
    background: $color-background;
    color: $color-text;
    font-family: $font;

    a {
        font-weight: 500;

        &, &:hover, &:focus {
            color: $color-text;
        }

        &:hover {
            text-shadow: 0px 0px 1px #ffffff;
        }
    }

    .btn {
        color: $color-text;
        background-color: #393d45;
        border-radius: 5px;
        padding: 10px 0px;
        margin: 10px 10px 0px 10px;
        font-size: 20px;
        box-shadow: 0px 5px 0px #232425;
        position: relative;

        &:hover {
            color: $color-text;
            text-shadow: 0px 0px 30px #ffffff;
        }

        &:focus {
            color: $color-text;
        }
        
        &:active {
            color: $color-text;
            box-shadow: 0px 2px 0px #232425;
            top: 3px;
        }
    }
}

.navbar {
    background-color: #313642;
    margin-bottom: 0px;
    border-radius: 0px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.3);
    border: none;
    
    .nav li {
        &.active,
        &.dropdown.open > a {
            background-color: rgba(0, 0, 0, 0.1);
        }

        &.dropdown ul {
            background-color: #313642;
            box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
            border: none;
        }
        
        a {
            color: $color-text;
        }
        
        a:hover,
        a:hover:focus {
            background-color: rgba(0, 0, 0, 0.1);
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 25px rgba(255, 255, 255, 0.6);
        }
        
        a:focus {
            background-color: transparent;
        }
    }
    
    .navbar-header button {
        background-color: #1b6ea8;
        box-shadow: 0px 3px 0px #1c557c;
    }

    .navbar-header span {
        background-color: rgb(255, 255, 255);
    }
}

@media (min-width: 768px) {
    .navbar-center .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    
    .navbar-center .navbar-collapse {
        text-align: center;
    }
    
    .navbar-compact .container,
    .navbar-compact .container #navbar {
        padding-left: 0px;
    }
}

.jumbotron {
    background: radial-gradient(at top, #3e434e -20%, #20232b 90%);
    color: $color-text;
    padding-top: 0px;
    padding: 50px 0px 60px;
    margin-bottom: 0px;
    
    h1 {
        font-size: 120px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    @media (max-width: 575px) {
        h1 {
            font-size: 70px;
        }
    }
    
    p {
        margin: 25px 0px 35px;
        font-size: 25px;
    }
}

.jumbotron-main {
    text-align: center;

    .btn {
        width: 200px;
    }
    
    .tooltip {
        margin-top: 8px;

        .tooltip-inner {
            background-color: #313642;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            padding: 0px;
            font-size: 15px;
            max-width: none;
            white-space: pre-wrap;
            text-align: left;
        }
        
        .tooltip-arrow {
            display: none;
        }
        
        &.in {
            opacity: 1;
            filter: alpha(opacity=100);
        }
        
        a {
            color: $color-text;
            text-decoration: none;

            &:hover {
                text-shadow: none;
            }
        }
        
        div {
            padding: 7px 12px;
        }
    }
}

.jumbotron-compact {
    background: $color-background-shade;
    border-bottom: 1px solid $color-border;
    padding: 25px 0px;
    
    h1 {
        font-size: 70px;
    }
    
    a {
        color: $color-text;
        text-decoration: none;

        &:hover {
            text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(255, 255, 255, 0.2);
        }
    }
    
    p {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
        font-size: 34px;
        margin: 0px;
    }
}

.container-screenshot {
    background: $color-background;
    border-top: 1px solid $color-border;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;

    .img-responsive-parent {
        margin: 20px;
    }
    
    img {
        margin: 0px auto 30px auto;
        box-shadow: 0px 0px 30px rgba(29, 80, 123, 0.3);
    }
    
    .btn {
        padding: 10px 50px;        
    }
}

.container-features {
    padding-top: 10px;
    padding-bottom: 30px;
    color: $color-text-2;
    background: $color-background;
    border-top: 1px solid $color-border;
    
    &:nth-of-type(even) {
        border-top: 1px solid #39393a;
        background: $color-background-shade;
    }
    
    h3 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    h3 a {
        color: $color-text-2;
        text-decoration: none;
    }
    
    h3 .fa {
        font-size: 50px;
        vertical-align: middle;
        margin-right: 20px;
        padding-bottom: 5px;
    }
    
    h4 {
        font-size: 20px;
        margin-bottom: 20px;
        padding-bottom: 8px;
    }
    
    h4:not(.collapsed) {
        background: $header-line;
        background-size: 100% 1px;
    }
    
    .col-sm-3 {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px;
    }
}

[data-toggle="collapse"] {
    cursor: pointer;
    
    .fa {
        width: 20px;
        margin-right: 8px;
    }
    
    .fa:before {
        content: "\f078";
    }
    
    &.collapsed .fa:before {
        content: "\f054";
    }
}

footer {
    background-color: #1d2127;
    border-top: 1px solid #1d1d1f;
    color: $color-text;
    padding: 20px 0px;
    text-align: center;
    
    p {
        margin: 0px;
    }
    
    a,
    a:focus,
    a:hover {
        color: $color-text;
    }
}

.container-content {
    padding-top: 10px;
    padding-bottom: 30px;
}

.container-donate {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    background: $color-background;
    color: $color-text-2;
    border-bottom: 1px solid $color-border;
}

.container-donate-2 {
    padding-top: 30px;
    padding-bottom: 30px;
    background: $color-background;
}

.donate-note {
    margin-top: 0px;
    margin-bottom: 30px;
    background-color: $color-secondary;
    border: none;
    color: $color-text;
    
    a {
        color: $color-text;
        text-decoration: underline;
    }
}

.donate-button {
    margin-right: 15px;
}

#bitcoin-modal {
    color: #393d45;

    .close {
        font-size: 30px;
    }

    .bitcoin-qr {
        margin: 20px;
    }

    .bitcoin-address {
        margin: 15px 5px 5px 5px;

        .panel-body {
            font-size: 18px;
            padding: 5px;
        }
    }
}

.patrons-panel {
    margin-top: 30px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 0px 0px 20px #00000040;
    
    a {
        text-decoration: underline;
        text-decoration-color: rgba(255, 255, 255, 0.3);
    }
    
    .panel-heading {
        color: $color-text;
        background-color: #1b1f25;
        border-radius: 0px;
    }

    .table {
        background-color: #22272f;
        border-radius: 0px;

        td {
            border-top: 1px solid #202125;
        }
    }
}

.container-callback {
    margin-top: 30px;
    margin-bottom: 10px;
    
    .panel {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    }
    
    #callback-code .btn {
        width: 150px;
        padding: 6px 12px;
        margin: 0px;
        font-size: 14px;
        box-shadow: none;

        &:hover, &:active, &:focus {
            color: $color-text;
            background-color: #393d45;
            top: 0px;
        }
    }

    #callback-error {
        display: none;
        color: #393d45;
    }
}

.container-downloads {
    padding-top: 30px;
    padding-bottom: 20px;

    h1 {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .total-downloads {
        font-weight: 300;
    }
    
    .table-downloads {
        display: none;
        
        .label {
            font-weight: 500;
        }
        
        tr {
            background: #252932;
        }
        
        tbody tr:nth-of-type(odd) {
            background-color: #1b1f25;
        }

        &, table, th, td {
            border: 1px solid #3d414a;
        }
    }
}

.container-screenshots {
    padding-top: 30px;
    padding-bottom: 10px;

    .thumbnail {
        background-color: #1c2026;
        border: none;
    }
}

.container-changelog {
    padding-bottom: 30px;
    
    h3 {
        margin-top: 30px;
        padding-bottom: 5px;
        background: $header-line;
        background-size: 100% 1px;
    }
}

.container-assets {
    padding-top: 10px;
    padding-bottom: 20px;

    h3 {
        margin-bottom: 20px;
        padding-bottom: 5px;
        background: $header-line;
        background-size: 100% 1px;
    }

    h4 {
        margin-bottom: 15px;
    }

    p,
    .col-sm-2 {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .no-top-margin {
        margin-top: 0px;
    }
}

.markdown {
    color: #e4e4e4;
    font-size: 17px;
    font-weight: 300;

    a {
        font-weight: 500;
        text-decoration: underline;
        text-decoration-color: rgba(255, 255, 255, 0.3);
    }
    
    a:hover,
    a:focus {
        color: #ffffff;
    }

    h1,
    h2,
    h3,
    h4 {
        color: #ffffff;
        font-weight: 300;

        a {
            text-decoration: none;
        }
    }

    h2,
    h3,
    h4 {
        margin-bottom: 15px;
    }

    h1,
    h2 {
        padding-bottom: 5px;
        background: $header-line;
        background-size: 100% 1px;
    }
    
    h4 {
        margin-top: 15px;
    }

    ul {
        padding-left: 25px;
    }
    
    li {
        margin-top: 4px;
    }

    img {
        margin-bottom: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    }
    
    hr {
        background: $header-line;
        background-size: 100% 1px;
        border-top: 1px solid transparent;
    }

    pre {
        border-radius: 5px;
        background-color: #1b1f25;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
        border: none;
        margin-bottom: 15px;
    }

    code.highlighter-rouge {
        padding: 3px 5px;
        margin: 0px;
        font-size: 85%;
        color: #abb2bf;
        background-color: #21262d;
        border-radius: 3px;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6);
    }
    
    kbd {
        display: inline-block;
        padding: 3px 5px;
        font-size: 11px;
        color: #555;
        vertical-align: middle;
        background-color: #fcfcfc;
        border: solid 1px #ccc;
        border-bottom-color: #bbb;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 #bbb;
    }
}

.caret {
    margin-left: 4px;
}