---
---

@import "highlight";

// Variables

$font: "Open Sans", sans-serif;
$font-header: "Roboto Condensed", $font;
$text-color: #fafafa;
$text-color-alt: #e7e9ea;
$background: #242424;
$background-border: #222222;
$background-alt: #272727;
$background-alt-border: #2c2c2c;
$background-highlight: #2e2e2e;
$header-line: linear-gradient(to right, rgba(255, 255, 255, 0.15) 0%, transparent 80%) left bottom transparent no-repeat;
$container-padding: 2rem;
$container-padding-half: $container-padding / 2;
$container-padding-double: $container-padding * 2;

// Scrollbar

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
    width: 15px;
    background-color: $background-highlight;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    min-height: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

    &:hover {
        background-color: rgba(255, 255, 255, 0.15);
    }
}

// Sticy footer

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 61px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 61px;
}

// Theme

html {
    font-size: 14px;
}

body {
    background: $background-alt;
    color: $text-color;
    font-family: $font;

    a {
        font-weight: 400;

        &,
        &:hover,
        &:focus {
            color: $text-color;
        }

        &:hover {
            text-shadow: 0px 0px 1px $text-color;
        }
    }

    .btn {
        color: $text-color-alt;
        background-color: $background-highlight;
        border-top: 1px solid lighten($background-highlight, 5%);
        border-radius: 5px;
        padding: 10px 0px;
        margin: 10px 10px 0px 10px;
        font-size: 22px;
        font-weight: 300;
        transition: none;

        &:hover {
            color: $text-color;
            background-color: lighten($background-highlight, 1%);
        }

        &:focus {
            color: $text-color;
            box-shadow: none;
            outline: none;
        }

        &:active {
            color: $text-color;
            background-color: lighten($background-highlight, 3%);
        }

        i {
            margin-left: 15px;
        }
    }

    .table {
        color: $text-color;
    }
}

.navbar {
    background-color: $background-alt;
    border-bottom: 1px solid $background-border;
    padding: 0px;

    .navbar-nav {
        .nav-item > a {
            padding: 15px;
        }

        .nav-item.active,
        .nav-item.dropdown.show {
            background-color: $background;
        }

        a {
            color: $text-color;
        }

        a:hover,
        a:hover:focus {
            background-color: $background;
        }

        a:focus {
            background-color: transparent;
        }

        .dropdown:hover .dropdown-menu {
            display: block;
        }

        .dropdown-menu {
            backdrop-filter: blur(10px);
            background-color: rgba($background-alt, 0.9);
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.4);
            border: none;
            margin-top: 0px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }

        .dropdown-toggle::after {
            margin-left: 6px;
            vertical-align: middle;
        }

        i {
            margin-right: 0.5rem;
        }
    }

    .navbar-toggler {
        background-color: $background-highlight;
        border: none;
        margin: 10px;

        span {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
    }
}

@media (min-width: 768px) {
    .navbar .container {
        padding: 0px;
    }
}

.jumbotron {
    background: $background;
    color: $text-color;
    padding-top: 0px;
    padding: 50px 0px 60px;
    margin-bottom: 0px;

    h1 {
        font-family: $font-header;
        font-size: 130px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    p {
        margin: 25px 0px 35px;
        font-size: 25px;
        font-weight: 300;
    }
}

.jumbotron-main {
    text-align: center;

    .btn {
        width: 200px;
    }
}

.tooltip {
    margin-top: 8px;

    .tooltip-inner {
        backdrop-filter: blur(10px);
        background-color: rgba($background-highlight, 0.5);
        border-radius: 5px;
        padding: 0px;
        max-width: none;
    }

    .arrow {
        display: none;
    }

    &.show {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    a {
        color: $text-color;
        font-family: $font;
        font-size: 15px;
        text-decoration: none;
        white-space: pre-wrap;
        text-align: left;

        &:hover {
            text-shadow: none;
        }
    }

    div {
        padding: 7px 12px;
    }
}

.jumbotron-compact {
    background: $background;
    border-bottom: 1px solid $background-alt-border;
    padding: $container-padding 0px;

    h1 {
        font-size: 80px;
    }

    a {
        color: $text-color;
        text-decoration: none;

        &:hover {
            text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
        }
    }

    p {
        font-size: 35px;
        margin: 0px;
    }
}

.container-fluid {
    background: $background-alt;
    border-top: 1px solid $background-alt-border;

    &:nth-of-type(even) {
        background: $background;
        border-top: 1px solid $background-border;
    }
}

.container-screenshot {
    padding-top: $container-padding-double;
    padding-bottom: $container-padding-double;
    text-align: center;

    img {
        margin: 0px 0px $container-padding 0px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    }

    .btn {
        padding: 10px 50px;
    }
}

.container-features {
    padding-top: $container-padding;
    padding-bottom: $container-padding;
    color: $text-color-alt;

    h3 {
        font-family: $font-header;
        font-size: 30px;
        margin: $container-padding-half 0px;
    }

    h3 a {
        color: $text-color-alt;
        text-decoration: none;
    }

    h3 .fas {
        font-size: 45px;
        vertical-align: middle;
        margin-right: 15px;
        padding-bottom: 5px;
    }

    h4 {
        font-size: 20px;
        margin-bottom: $container-padding-half;
        padding-bottom: 8px;
    }

    h4:not(.collapsed) {
        background: $header-line;
        background-size: 100% 1px;
    }

    .col-sm-3 {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: $container-padding-half;
    }
}

.container-image-effects {
    padding-top: $container-padding-half;
    padding-bottom: $container-padding;

    .col-image-effect {
        padding: 0px $container-padding-half / 2;
    }

    .image-effect {
        margin-bottom: $container-padding-half;
        padding: 1rem;
        background: $background;
        text-align: center;
        border: none;
        border-radius: 6px;

        .image-effect-title {
            padding-bottom: 1rem;

            .image-effect-author {
                display: none;
                font-weight: 300;
                color: $text-color-alt;
            }
        }
    }

    .image-effect:hover .image-effect-author {
        display: inline;
    }
}

[data-toggle="collapse"] {
    cursor: pointer;

    .fas {
        width: 20px;
        margin-right: 8px;
    }

    .fas:before {
        content: "\f078";
    }

    &.collapsed .fas:before {
        content: "\f054";
    }
}

footer {
    background-color: darken($background, 2%);
    color: $text-color;
    padding: 20px 0px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;

    p {
        margin: 0px;
    }

    a,
    a:focus,
    a:hover {
        color: $text-color;
    }
}

.container-donate {
    padding-top: $container-padding;
    padding-bottom: $container-padding-half;
    font-size: 16px;
    background: $background-alt;
    color: $text-color-alt;
    border-bottom: 1px solid $background-border;

    p {
        margin-bottom: $container-padding;
    }

    .btn {
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;

        img {
            margin-right: 10px;
        }

        span {
            vertical-align: middle;
        }
    }
}

.container-donate-2 {
    padding-top: $container-padding;
    padding-bottom: $container-padding-half;
    background: $background;
}

.crypto-modal {
    color: $background-highlight;

    .close {
        font-size: 30px;
    }

    .crypto-qr {
        margin: 20px;
    }

    .crypto-address {
        margin: 15px 5px 5px 5px;

        .card-body {
            font-size: 18px;
            padding: 5px;
        }
    }
}

.patrons-panel {
    a {
        text-decoration: underline;
        text-decoration-color: rgba(255, 255, 255, 0.5);
    }

    .table {
        background-color: $background;
        border-radius: 6px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
        margin-top: $container-padding-half;

        th,
        td {
            border: none;
        }

        td:first-child a {
            margin-left: 0.5rem;
        }

        tr:nth-of-type(even) {
            background-color: $background-alt;
        }
    }
}

.container-callback {
    margin-top: $container-padding;
    margin-bottom: $container-padding;

    h1 {
        font-size: 25px;
        font-weight: 300;
        margin-top: 0px;
        margin-bottom: $container-padding;
    }

    .container div {
        display: flex;

        input {
            height: auto;
            background-color: lighten($background-highlight, 5%);
            border: none;
            border-top: 1px solid lighten($background-highlight, 10%);
            box-shadow: none;
            color: $text-color-alt;
            font-size: 25px;
            font-weight: 300;
            padding-left: 15px;
        }

        .btn {
            margin: 0px 0px 0px 15px;
            padding: 10px;
            white-space: nowrap;
            width: 280px;
        }
    }
}

.container-downloads {
    padding-top: $container-padding;
    padding-bottom: $container-padding-half;

    h1 {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .total-downloads {
        font-weight: 300;
    }

    .table-downloads {
        display: none;
        background-color: $background;
        border-radius: 8px;

        .badge {
            font-weight: 400;
            padding: 5px;
            box-shadow: 0px 1px 0px rgba(158, 0, 0, 1);
        }

        th {
            border: none;
            font-size: 18px;
            font-weight: 300;
        }

        td {
            border: none;
            font-size: 15px;
        }

        tbody tr:nth-of-type(odd) {
            background-color: darken($background-alt, 0.5%);
        }
    }
}

.container-screenshots {
    padding-top: $container-padding;
    padding-bottom: $container-padding-half;

    .thumbnail {
        background-color: $background-border;
        display: block;
        border: none;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 20px;
    }

    .thumbnail img {
        max-width: 100%;
    }
}

.fancybox-button {
    background: rgba($background-highlight, 0.6);
}

.container-assets {
    padding-top: $container-padding;
    padding-bottom: $container-padding-half;

    h3 {
        margin-bottom: 20px;
        padding-bottom: 5px;
        background: $header-line;
        background-size: 100% 1px;
    }

    h4 {
        margin-bottom: 15px;
    }

    p,
    .col-sm-2 {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .no-top-margin {
        margin-top: 0px;
    }
}

.markdown {
    color: $text-color-alt;
    font-size: 17px;
    font-weight: 300;
    padding-top: $container-padding;
    padding-bottom: $container-padding-half;

    a {
        font-weight: 400;
        text-decoration: underline;
        text-decoration-color: rgba(255, 255, 255, 0.5);
    }

    a:hover,
    a:focus {
        color: $text-color;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $text-color;
        font-weight: 300;
        margin-bottom: $container-padding-half;

        a {
            text-decoration: none;
        }
    }

    h1,
    h2 {
        padding-bottom: 5px;
        background: $header-line;
        background-size: 100% 1px;
    }

    h2:not(:first-child) {
        margin-top: $container-padding;
    }

    .header-link {
        position: relative;
        left: 0.5em;
        opacity: 0;
        font-size: 0.8em;
        color: $text-color-alt;
        transition: opacity 0.2s ease-in-out 0.1s;
    }

    h2:hover .header-link,
    h3:hover .header-link,
    h4:hover .header-link,
    h5:hover .header-link,
    h6:hover .header-link {
        opacity: 1;
    }

    ul,
    ol {
        padding-left: 20px;
    }

    li {
        margin-top: 4px;
    }

    img {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }

    hr {
        background: $header-line;
        background-size: 100% 1px;
        border-top: 1px solid transparent;
    }

    .highlight {
        border-radius: 5px;
        color: darken($text-color-alt, 10%);
        background-color: $background-highlight;
        border: none;

        pre {
            padding: 1rem;
        }
    }

    div.highlight {
        border-top: 1px solid lighten($background-highlight, 5%);
    }

    code.highlighter-rouge {
        padding: 3px 6px;
        margin: 0px;
        font-size: 85%;
        color: darken($text-color-alt, 10%);
        background-color: $background-highlight;
        border-radius: 3px;
        border-top: 1px solid lighten($background-highlight, 5%);
        word-break: break-word;
    }

    kbd {
        display: inline-block;
        padding: 0px 7px 2px 7px;
        margin: 0px 2px;
        font-size: 13px;
        color: $background-highlight;
        vertical-align: middle;
        background-color: $text-color;
        border: solid 1px $text-color-alt;
        border-bottom-color: darken($text-color-alt, 20%);
        border-radius: 3px;
        box-shadow: inset 0 -2px 0 darken($text-color-alt, 20%);
    }

    blockquote {
        margin-top: 4px;
        padding: 0 1em;
        color: darken($text-color-alt, 10%);
        border-left: 0.25em solid darken($text-color-alt, 10%);
    }

    table {
        margin-top: 0;
        margin-bottom: $container-padding-half;
        font-size: 15px;
        border: 1px solid $background-highlight;

        th,
        td {
            border: 1px solid $background-highlight;
            padding: 6px 13px;
        }

        th {
            font-size: 17px;
            font-weight: 300;
            text-align: center;
        }

        tr {
            background-color: $background;
        }

        tbody tr:nth-of-type(odd) {
            background-color: $background-alt;
        }
    }
}
