---
---

@import "highlight";

// Variables

$font: "Open Sans", sans-serif;
$font-header: "Roboto Condensed", $font;
$text-color: #fafafa;
$text-color-alt: #e7e9ea;
$background: #242424;
$background-border: #222222;
$background-alt: #272727;
$background-alt-border: #2c2c2c;
$background-highlight: #2e2e2e;
$header-line: linear-gradient(to right, rgba(255, 255, 255, 0.15) 0%, transparent 80%) left bottom transparent no-repeat;
$header-line-center: linear-gradient(to right, transparent 20%, rgba(255, 255, 255, 0.15) 50%, transparent 80%) left bottom transparent no-repeat;
$container-padding: 2rem;
$container-padding-half: $container-padding / 2;
$container-padding-double: $container-padding * 2;

// Scrollbar

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
    width: 15px;
    background-color: $background-highlight;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    min-height: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

    &:hover {
        background-color: rgba(255, 255, 255, 0.15);
    }
}

// Sticy footer

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 71px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 71px;
}

// Theme

html {
    font-size: 14px;
}

body {
    background-color: $background-alt;
    color: $text-color;
    font-family: $font;

    a {
        font-weight: 400;

        &,
        &:hover,
        &:focus {
            color: $text-color;
        }

        &:hover {
            text-shadow: 0px 0px 1px $text-color;
        }
    }

    .btn {
        background-color: $background-highlight;
        color: $text-color-alt;
        border-top: 1px solid lighten($background-highlight, 5%);
        border-radius: 5px;
        padding: 10px 0px;
        margin: 10px 10px 0px 10px;
        font-size: 22px;
        font-weight: 300;
        transition: none;

        &:hover {
            background-color: lighten($background-highlight, 1.5%);
            color: $text-color;
            text-shadow: none;
        }

        &:focus {
            color: $text-color;
            box-shadow: none;
            outline: none;
        }

        &:focus-visible {
            outline: $text-color solid 1px;
        }

        &:active {
            background-color: lighten($background-highlight, 3%);
            color: $text-color;
        }

        i {
            margin-left: 15px;
        }
    }

    .table {
        color: $text-color;
    }
}

.navbar {
    background-color: $background-alt;
    border-bottom: 1px solid $background-border;
    padding: 0px;

    @media (min-width: 992px) {
        .container-home {
            max-width: 850px;
        }
    }

    .navbar-nav.nav-main {
        .nav-item > a {
            padding: 15px;
        }

        .nav-item.active,
        .nav-item.dropdown.show {
            background-color: $background;
        }

        a {
            color: $text-color;
        }

        a:hover,
        a:hover:focus {
            background-color: $background;
        }

        a:focus {
            background-color: transparent;
        }

        .dropdown:hover .dropdown-menu {
            display: block;
        }

        .dropdown-menu {
            background-color: $background-alt;
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.4);
            border: none;
            margin-top: 0px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }

        .dropdown-toggle::after {
            margin-left: 6px;
            vertical-align: middle;
        }

        i {
            margin-right: 0.5rem;
        }
    }

    @media (max-width: 767.98px) {
        .navbar-nav.nav-links {
            margin: 15px 0px;
            justify-content: center;
        }
    }

    .navbar-nav.nav-links {
        flex-direction: row;

        a {
            font-size: 22px;
            padding: 3px 5px;
            margin: 0px 3px;
            background-color: $background-highlight;
            border-radius: 50%;

            &:hover {
                background-color: lighten($background-highlight, 1.5%);
                text-shadow: none;
            }
        }
    }

    .navbar-toggler {
        background-color: $background-highlight;
        color: $text-color-alt;
        border: none;
        padding: 6px 14px;
        margin: 10px;

        &:hover {
            background-color: lighten($background-highlight, 1.5%);
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
        }
    }
}

@media (min-width: 768px) {
    .navbar .container {
        padding: 0px;
    }
}

.jumbotron {
    background-color: $background;
    color: $text-color;
    padding-top: 0px;
    padding: 50px 0px 60px;
    margin-bottom: 0px;

    h1 {
        font-family: $font-header;
        font-size: 130px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    @media (max-width: 575.98px) {
        h1 {
            font-size: 100px;
        }
    }

    p {
        margin: 25px 0px 35px;
        font-size: 25px;
        font-weight: 300;
    }
}

.jumbotron-main {
    text-align: center;

    .btn {
        width: 200px;
    }

    #download-panel {
        div {
            background-color: $background-alt;
            margin-top: $container-padding;
            padding: $container-padding-half / 2 $container-padding-half / 2;
            border-radius: 8px;
        }

        .btn {
            width: auto;
            padding: 8px 16px;
            margin: $container-padding-half / 2 $container-padding-half / 2;
            font-size: 18px;
        }
    }
}

.tooltip {
    margin-top: 8px;

    .tooltip-inner {
        background-color: $background-highlight;
        border-radius: 5px;
        padding: 7px 12px;
        max-width: none;
        font-size: 15px;
        white-space: pre-wrap;
        text-align: left;
    }

    .arrow {
        display: none;
    }
}

.jumbotron-compact {
    background-color: $background;
    border-bottom: 1px solid $background-alt-border;
    padding: $container-padding 0px;

    h1 {
        font-size: 80px;
    }

    a {
        color: $text-color;
        text-decoration: none;

        &:hover {
            text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
        }
    }

    p {
        font-size: 35px;
        margin: 0px;
    }
}

.container-fluid {
    background-color: $background;
    border-top: 1px solid $background-border;

    &:nth-of-type(odd) {
        background-color: $background-alt;
        border-top: 1px solid $background-alt-border;
    }
}

.container-screenshot {
    padding-top: $container-padding-double;
    padding-bottom: $container-padding-double;
    text-align: center;

    img {
        margin: 0px 0px $container-padding 0px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    }

    .btn {
        padding: 10px 50px;
    }
}

.container-features {
    padding-top: $container-padding;
    padding-bottom: $container-padding;
    color: $text-color-alt;

    h3 {
        font-family: $font-header;
        font-size: 40px;
        margin: $container-padding-half 0px $container-padding 0px;
        text-align: center;

        a {
            color: $text-color-alt;
            text-decoration: none;
        }

        .fas {
            font-size: 45px;
            vertical-align: middle;
            margin-right: 15px;
            padding-bottom: 5px;
        }
    }

    h4 {
        font-size: 22px;
        margin-bottom: $container-padding;
        padding-bottom: 8px;
        text-align: center;
        background: $header-line-center;
        background-size: 100% 1px;

        &:nth-of-type(n + 2) {
            margin-top: $container-padding;
        }
    }

    .row div {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: $container-padding-half;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.container-image-effects {
    padding-top: $container-padding-half;
    padding-bottom: $container-padding;

    .col-image-effect {
        padding: 0px $container-padding-half / 2;
    }

    .image-effect {
        margin-bottom: $container-padding-half;
        padding: 1rem;
        background-color: $background;
        text-align: center;
        border: none;
        border-radius: 6px;

        .image-effect-title {
            padding-bottom: 1rem;

            .image-effect-author {
                display: none;
                font-weight: 300;
                color: $text-color-alt;
            }
        }
    }

    .image-effect:hover .image-effect-author {
        display: inline;
    }
}

footer {
    background-color: darken($background, 2%);
    color: $text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 300;

    p {
        margin: 0px;
    }

    a,
    a:focus,
    a:hover {
        color: $text-color;
    }
}

.container-donate {
    padding-top: $container-padding;
    padding-bottom: $container-padding-half;
    font-size: 16px;
    background-color: $background-alt;
    color: $text-color-alt;
    border-bottom: 1px solid $background-border;

    p {
        margin-bottom: $container-padding;
    }

    .btn {
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;

        img {
            margin-right: 10px;
        }

        i {
            margin-left: 10px;
        }

        span {
            vertical-align: middle;
        }
    }
}

.container-donate-2 {
    padding-top: $container-padding;
    padding-bottom: $container-padding-half;
    background-color: $background;
}

.crypto-modal {
    color: $background-highlight;

    .close {
        font-size: 30px;
    }

    .crypto-qr {
        margin: 20px;
    }

    .crypto-address {
        margin: 15px 5px 5px 5px;

        .card-body {
            font-size: 18px;
            padding: 5px;
        }
    }
}

.patrons-panel {
    a {
        text-decoration: underline;
        text-decoration-color: rgba(255, 255, 255, 0.5);
    }

    .table {
        background-color: $background;
        border-radius: 6px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
        margin-top: $container-padding-half;

        th,
        td {
            border: none;
        }

        td:first-child a {
            margin-left: 0.5rem;
        }

        tr:nth-of-type(even) {
            background-color: $background-alt;
        }
    }
}

.container-callback {
    margin-top: $container-padding;
    margin-bottom: $container-padding;

    h1 {
        font-size: 25px;
        font-weight: 300;
        margin-top: 0px;
        margin-bottom: $container-padding;
    }

    .container div {
        display: flex;

        input {
            height: auto;
            background-color: lighten($background-highlight, 5%);
            color: $text-color-alt;
            border: none;
            border-top: 1px solid lighten($background-highlight, 10%);
            box-shadow: none;
            font-size: 25px;
            font-weight: 300;
            padding-left: 15px;
        }

        .btn {
            margin: 0px 0px 0px 15px;
            padding: 10px;
            white-space: nowrap;
            width: 280px;
        }
    }
}

.container-downloads {
    padding-top: $container-padding;
    padding-bottom: $container-padding-half;

    .downloads-repo-container {
        font-weight: 300;
        width: 500px;
        margin-bottom: 20px;
        float: left;

        .feedback-icon {
            display: flex;
            align-items: center;
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 12px;
            z-index: 4;
            font-size: 25px;
            pointer-events: none;
        }

        #downloads-repo {
            height: auto;
            background-color: lighten($background-highlight, 5%);
            color: $text-color-alt;
            border: none;
            border-top: 1px solid lighten($background-highlight, 10%);
            border-left: 2px solid $background-highlight;
            box-shadow: none;
            font-size: 24px;
            font-weight: 300;
            padding-left: 15px;
        }

        span.input-group-text {
            height: auto;
            background-color: $background-highlight;
            color: $text-color-alt;
            border: none;
            border-top: 1px solid lighten($background-highlight, 10%);
            box-shadow: none;
            font-size: 24px;
            font-weight: 300;
            padding-left: 15px;
        }
    }

    .downloads-badge {
        padding: 3px 6px;
        margin: 0px;
        font-size: 85%;
        font-weight: 300;
        background-color: $background-highlight;
        color: $text-color-alt;
        border-radius: 3px;

        i {
            margin-right: 6px;
        }
    }

    .total-downloads {
        display: none;
        font-size: 16px;
        font-weight: 300;
        float: right;
        text-align: center;
        margin-top: -5px;

        .total-downloads-label {
            font-size: 20px;
            margin-bottom: 3px;
        }
    }

    .table-downloads {
        display: none;
        background-color: $background;
        border-radius: 8px;

        th {
            border: none;
            font-size: 20px;
            font-weight: 300;
        }

        td {
            border: none;
            font-size: 16px;
            font-weight: 300;
        }

        .downloads-release-name {
            width: 50%;
        }

        .downloads-release-info {
            background-color: darken($background-alt, 0.5%);

            .fa {
                margin-right: 10px;
            }

            .fa:before {
                content: "\f078";
            }

            &.collapsed .fa:before {
                content: "\f054";
            }

            &:hover {
                background-color: $background-highlight;
                cursor: pointer;
            }

            .badge {
                font-weight: 400;
                padding: 5px;
                background-color: transparent;
                border-radius: 4px;
                float: right;
            }

            .badge-warning {
                border: 1px solid #d29922;
                color: #d29922;
            }

            .badge-success {
                border: 1px solid #3fb950;
                color: #3fb950;
            }
        }

        .downloads-assets {
            background-color: $background;

            td {
                padding: 0px;
            }

            .downloads-assets-container {
                padding: 10px 0px;

                a {
                    text-decoration: none;
                }

                .downloads-asset-info {
                    padding: 10px 20px;

                    &:hover {
                        background-color: $background-alt;
                        text-shadow: none;
                    }

                    .downloads-badge {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

.container-screenshots {
    padding-top: $container-padding;
    padding-bottom: $container-padding-half;

    .thumbnail {
        background-color: $background-border;
        display: block;
        border: none;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 20px;
    }

    .thumbnail img {
        max-width: 100%;
    }
}

.fancybox-button {
    background-color: rgba($background-highlight, 0.6);
}

.container-assets {
    padding-top: $container-padding;
    padding-bottom: $container-padding-half;

    h3 {
        margin-bottom: 20px;
        padding-bottom: 5px;
        background: $header-line;
        background-size: 100% 1px;
    }

    h4 {
        margin-bottom: 15px;
    }

    p,
    .col-sm-2 {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .no-top-margin {
        margin-top: 0px;
    }
}

.markdown {
    color: $text-color-alt;
    font-size: 17px;
    font-weight: 300;
    padding-top: $container-padding;
    padding-bottom: $container-padding-half;

    a {
        font-weight: 400;
        text-decoration: underline;
        text-decoration-color: rgba(255, 255, 255, 0.5);
    }

    a:hover,
    a:focus {
        color: $text-color;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $text-color;
        font-weight: 300;
        margin-bottom: $container-padding-half;

        a {
            text-decoration: none;
        }
    }

    h1,
    h2 {
        padding-bottom: 5px;
        background: $header-line;
        background-size: 100% 1px;
    }

    h2:not(:first-child) {
        margin-top: $container-padding;
    }

    .header-link {
        position: relative;
        left: 0.5em;
        opacity: 0;
        font-size: 0.8em;
        color: $text-color-alt;
        transition: opacity 0.2s ease-in-out 0.1s;
    }

    h2:hover .header-link,
    h3:hover .header-link,
    h4:hover .header-link,
    h5:hover .header-link,
    h6:hover .header-link {
        opacity: 1;
    }

    ul,
    ol {
        padding-left: 20px;
    }

    li {
        margin-top: 4px;
    }

    img {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }

    hr {
        background: $header-line;
        background-size: 100% 1px;
        border-top: 1px solid transparent;
    }

    .highlight {
        border-radius: 5px;
        background-color: $background-highlight;
        color: darken($text-color-alt, 10%);
        border: none;

        pre {
            padding: 1rem;
        }
    }

    div.highlight {
        border-top: 1px solid lighten($background-highlight, 5%);
    }

    code.highlighter-rouge {
        padding: 3px 6px;
        margin: 0px;
        font-size: 85%;
        background-color: $background-highlight;
        color: darken($text-color-alt, 10%);
        border-radius: 3px;
        border-top: 1px solid lighten($background-highlight, 5%);
        word-break: break-word;
    }

    kbd {
        display: inline-block;
        padding: 1px 7px;
        margin: 0px 2px;
        font-size: 13px;
        background-color: lighten($background-highlight, 5%);
        color: $text-color-alt;
        vertical-align: middle;
        border: 1px solid transparent;
        border-top-color: lighten($background-highlight, 10%);
        border-radius: 3px;
        box-shadow: 0px 3px 0px $background-border;
    }

    blockquote {
        margin-top: 4px;
        padding: 0 1em;
        color: darken($text-color-alt, 10%);
        border-left: 0.25em solid darken($text-color-alt, 10%);
    }

    table {
        margin-top: 0;
        margin-bottom: $container-padding-half;
        font-size: 15px;
        border: 1px solid $background-highlight;

        th,
        td {
            border: 1px solid $background-highlight;
            padding: 6px 13px;
        }

        th {
            font-size: 17px;
            font-weight: 300;
            text-align: center;
        }

        tr {
            background-color: $background;
        }

        tbody tr:nth-of-type(odd) {
            background-color: $background-alt;
        }
    }
}
