.navbar-main {
    background-color: #257CB9;
    margin-bottom: 0px;
    border-radius: 0px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.navbar-main a {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background-color: #1B6EA8;
    color: white;
    padding-top: 0px;
    padding: 50px 0px 60px;
}

.jumbotron h1 {
    font-size: 110px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.jumbotron p {
    margin: 25px 0px 35px;
    font-size: 25px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.btn {
    background-color: rgba(255, 255, 255, 0.03);
    border-color: white;
    color: white;
    border-radius: 4px;
    margin: 10px 10px 0px 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.btn-fixed-size {
    width: 180px;
}
