body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* General button style (reset) */
.btnd {
    border: none;
    font-size: 18px;
    color: white;
    background: none;
    cursor: pointer;
    width: 200px;
    padding: 10px 50px;
    display: inline-block;
    margin: 20px 5px;
    letter-spacing: 1px;
    font-weight: 400;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

@media (max-width: 400px) {
    .btnd {
        width: 150px;
        padding: 10px 10px;
        margin: 10px 0px;
    }
}

.btnd:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btnd:focus {
    text-decoration: none;
    color: white;
}

/* Button 1 */
.btnd-1 {
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
}

/* Button 1d */
.btnd-1d:hover,
.btnd-1d:active {
    color: #3E579F;
    background: #fff;
    text-decoration: none;
}

.after-header {
    background-color: #ecf0f1;
    font-size: 28px;
    color: #34495e;
    text-align: center;
    font-weight: 200;
    margin-top: -30px;
}

.after-header p {
    padding-top: 120px;
    padding-bottom: 50px;
}

@media (max-width: 991px) {
    .after-header p {
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 24px;
    }
}

.feature {
    background-color: #ffffff;
    text-align: center;
    margin: 40px;
    margin-top: 55px;
    color: #545d5f;
}

.clear {
    clear: both;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}

.conclusion {
    background-color: #3E579F;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
}

.conclusion p {
    font-weight: 200;
    font-size: 28px;
    padding-bottom: 10px;
}

.after-header {
    background-color: #ecf0f1;
    font-size: 28px;
    color: #34495e;
    text-align: center;
    font-weight: 200;
    margin-top: -30px;
}

footer {
    background: #2B3E78 url(../img/header_background.jpg) no-repeat top center;
    padding-top: 25px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
}

footer form {
    margin-bottom: 15px;
}

footer p {
    margin-bottom: 15px;
}

.footer1 {
    background-color: #ecf0f1;
    padding-top: 25px;
    padding-bottom: 15px;
    color: #7f8c8d;
    text-align: center;
}

.footer1 p {
    padding-bottom: 5px;
}

.navbar-inverse {
    background-color: #29386c;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25) inset, 0px 1px 0px rgba(255, 255, 255, 0.05);
    border-radius: 0px;
}

.navbar-inverse a {
    transition: all 0.1s ease-in;
}

.navbar-inverse .navbar-brand {
    color: #999999;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-inverse .navbar-text {
    color: #999999;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
    text-shadow: 0 0 5px #ffffff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25) inset, 0px 1px 0px rgba(255, 255, 255, 0.05);
    outline: 0;
}

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
    outline: 0;
}

.navbar-inverse .navbar-toggle {
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: rgba(0, 0, 0, 0.20);
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #999999;
    border-bottom-color: #999999;
}

.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #999999;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: transparent;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #080808;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444444;
        background-color: transparent;
    }
}

.navbar-inverse .navbar-link {
    color: #999999;
}

.navbar-inverse .navbar-link:hover {
    color: #ffffff;
}

.jumbotronf {
    background: #2B3E78 url(../img/header_background.jpg) no-repeat top center;
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: white;
    text-align: center;
    padding-top: 0px;
}

@media screen and (min-width: 991px) {
    .jumbotronf {
        height: 725px;
    }
}

.jumbotronf h1 {
    line-height: 1.1;
    color: inherit;
}

.jumbotronf p {
    line-height: 1.5;
    font-size: 36px;
}

.container .jumbotronf {
    border-radius: 6px;
}

@media screen and (min-width: 768px) {
    .jumbotronf {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .container .jumbotronf {
        padding-left: 60px;
        padding-right: 60px;
    }

    .jumbotronf h1 {
        font-size: 63px;
    }
}

.container .jumbotron {
    border-radius: 6px;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .container .jumbotron {
        padding-left: 60px;
        padding-right: 60px;
    }

    .jumbotron h1 {
        font-size: 63px;
    }
}

.navbar {
    position: relative;
    z-index: 1000;
    min-height: 50px;
    border: 1px solid transparent;
    margin-bottom: 0px;
}

.navbar:before,
.navbar:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.navbar:after {
    clear: both;
}

.navbar:before,
.navbar:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.navbar:after {
    clear: both;
}

@media (min-width: 768px) {
    .navbar {
    }
}

.navbar-header:before,
.navbar-header:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.navbar-header:after {
    clear: both;
}

.navbar-header:before,
.navbar-header:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.navbar-header:after {
    clear: both;
}

@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }
}

.navbar-collapse {
    max-height: 340px;
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
}

.navbar-collapse:before,
.navbar-collapse:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.navbar-collapse:after {
    clear: both;
}

.navbar-collapse:before,
.navbar-collapse:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.navbar-collapse:after {
    clear: both;
}

.navbar-collapse.in {
    overflow-y: auto;
}

@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .navbar-collapse.in {
        overflow-y: visible;
    }

    .navbar-collapse .navbar-nav.navbar-left:first-child {
        margin-left: -15px;
    }

    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }

    .navbar-collapse .navbar-text:last-child {
        margin-right: 0;
    }
}

.container > .navbar-header,
.container > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px) {
    .container > .navbar-header,
    .container > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}

.navbar-static-top {
    border-width: 0 0 1px;
}

@media (min-width: 768px) {
    .navbar-static-top {
        border-radius: 0;
    }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    border-width: 0 0 1px;
}

@media (min-width: 768px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0;
    }
}

.navbar-fixed-top {
    z-index: 1030;
    top: 0;
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand {
        margin-left: -15px;
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
}

.navbar-nav {
    margin: 7.5px -15px;
}

.navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }

    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }

    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }

    .navbar-nav > li {
        float: left;
    }

    .navbar-nav > li > a {
        margin-top: 6px;
        margin-bottom: 5px;
    }
}

@media (min-width: 768px) {
    .navbar-left {
        float: left !important;
    }

    .navbar-right {
        float: right !important;
    }
}

.navbar-form {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-top: 8px;
    margin-bottom: 8px;
}

@media (min-width: 768px) {
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form .form-control {
        display: inline-block;
    }

    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    .navbar-form .radio input[type="radio"],
    .navbar-form .checkbox input[type="checkbox"] {
        float: none;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .navbar-form .form-group {
        margin-bottom: 5px;
    }
}

@media (min-width: 768px) {
    .navbar-form {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.navbar-nav.pull-right > li > .dropdown-menu,
.navbar-nav > li > .dropdown-menu.pull-right {
    left: auto;
    right: 0;
}

.navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar-text {
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .navbar-text {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.after-header p {
    font-weight: 200;
}

.jumbopurple {
    background: #2B3E78 url(../img/header_background.jpg) no-repeat top center;
    color: #ffffff;
}

.jumbopurple h1 {
    margin-top: 50px;
}

.jumbopurple p {
    margin-bottom: 0px;
}

.navbar-inverse .navbar-brand {
    color: rgb(255,255,255);
}

.navbar-inverse .navbar-brand:hover {
    color: #e1e1e1;
}

#sidebar {
    margin-top: 30px;
}

#sidebar.affix {
    position: static;
}

@media (min-width: 992px) {
    #sidebar.affix-top {
        position: static;
        width: 200px;
    }

    #sidebar.affix {
        position: fixed;
        top: 70px;
        width: 200px;
    }
}

#github {
    margin-left: 25px;
}

p.release-info {
    display: none;
    font-size: 16px;
}

#sharex-screenshot {
    height: 500px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 375px;
}

#auth_container {
    margin-top: 20px;
}

/*Add hover class on btn-default to allow zclip overlay to simulate hover*/
.btn-default.hover {
    background-color: #ebebeb;
}

.jumbotronf .container .alert {
    padding: 5px;
    border: 0;
    margin: auto;
    width: 75%;
    margin-top: -15px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
}

code {
    color: #0054C0;
    background-color: #ECF6FF;
}

.navbar-nav {
    padding-left: 30px;
    padding-right: 30px;
}

.icon-margin-bottom {
    margin-bottom: 10px;
}

.row-margin-bottom {
    margin-bottom: 40px;
}

.copy-button {
    width: 145px;
}

.features_container {
    margin-top: 30px;
}

.jumbotron .main_container {
    max-width: 1000px;
}

.main_container .main_header {
    margin-top: 0px;
}

.main_header a {
    color: inherit;
    text-decoration: none;
}

#_atssh {
    display: none;
}

.sharex-header {
    margin-top: 10px;
}

.navbar-nav .dropdown-menu {
    font-size: 16px;
    min-width: 80px;
}

.navbar-nav .dropdown-menu > li > a {
    text-align: center;
}

.navbar-features {
    padding-left: 0px;
}

.donate-after-header {
    background-color: #ecf0f1;
    font-size: 18px;
    color: #34495e;
    text-align: left;
    font-weight: 200;
    margin-top: -30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.donate-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.donate-img {
    margin-right: 20px;
}

.donate-note {
    margin-bottom: 30px;
}

.jumbotron-compact {
    padding-top: 30px;
    padding-bottom: 30px;
}