---
layout: page
title: Image effects
description: Browse and download ShareX image effect presets.
---

<div class="container-image-effects">
    <div class="container">
        <div class="row">
            {% for image-effect in site.data.image-effects reversed %}<div class="col-image-effect col-sm-6 col-lg-4">
                <div class="card image-effect">
                    <div class="image-effect-title">
                        <a class="image-effect-name" href="/image-effects/{{ image-effect.name }}.sxie">{% if image-effect.title %}{{ image-effect.title }}{% else %}{{ image-effect.name }}{% endif %}</a>
                        <span class="image-effect-author">by {{ image-effect.author }}</span>
                    </div>
                    <a href="/image-effects/{{ image-effect.name }}.sxie">
                        <img class="img-fluid" src="/img/image-effects/{{ image-effect.name }}.png" alt="{{ image-effect.title }} screenshot" />
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include common-js.html %}
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/imagesloaded.pkgd.min.js"></script>

<script>
    let $grid = $(".container-image-effects .row").masonry({
        percentPosition: true
    });

    $grid.imagesLoaded().progress(function() {
        $grid.masonry("layout");
    });
</script>
