---
layout: page
title: Screenshots
description: View screenshots of ShareX capture, recording, editing, uploading, workflow, and productivity features for Windows.
---

<div class="container-screenshots">
    <div class="container">
        <div class="row">
            {% for screenshot in site.data.screenshots %}<div class="col-sm-2">
                <a class="thumbnail" data-fancybox="gallery" data-caption="{{ screenshot.caption }}" href="/img/screenshots/{{ screenshot.name }}">
                    <img src="/img/screenshots/thumbnails/{{ screenshot.name | replace: '.png', '.jpg' }}">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include common-js.html %}
<script src="/js/jquery.fancybox.min.js"></script>
