<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="FilterForBrowserLink"
        type="Microsoft.VisualStudio.Web.PageInspector.Runtime.Tracing.PageInspectorHttpModule,
        Microsoft.VisualStudio.Web.PageInspector.Runtime, Version=2.0.0.0, Culture=neutral,
        PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>
</configuration>