<footer>
    <div>
        <a class="shields" href="https://github.com/ShareX/ShareX/stargazers" data-toggle="tooltip" data-placement="top" title="GitHub">
            <img src="https://img.shields.io/github/stars/ShareX/ShareX?label=Star&style=social" alt="GitHub" /></a>
        <a class="shields" href="https://x.com/intent/follow?screen_name=ShareX" data-toggle="tooltip" data-placement="top" title="X">
            <img src="https://img.shields.io/twitter/follow/ShareX" alt="X" /></a>
        <a class="shields" href="https://discord.gg/ShareX" data-toggle="tooltip" data-placement="top" title="Discord">
            <img src="https://img.shields.io/discord/194170124859736065?label=Join&logo=Discord&style=social" alt="Discord" /></a>
        <a class="shields" href="https://www.reddit.com/r/sharex" data-toggle="tooltip" data-placement="top" title="Reddit">
            <img src="https://img.shields.io/reddit/subreddit-subscribers/ShareX?label=Follow&style=social" alt="Reddit" /></a>
        <p>Copyright &copy; 2007-{{ site.time | date: '%Y' }} <a href="https://github.com/orgs/ShareX/people">{{ site.author }}</a> · <a href="/privacy-policy">Privacy Policy</a></p>
    </div>
</footer>

<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]:not([title=""])').tooltip({
            trigger: "hover"
        });
    });
</script>

{% if page.title != "Authorization" %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TSRVCS0KMR"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-TSRVCS0KMR');
</script>
{% endif %}