<nav class="navbar navbar-expand-md">
    <div class="container">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse {% unless page.title %}justify-content-center{% endunless %}" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item{% unless page.title %} active{% endunless %}"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item{% if page.title == "Downloads" %} active{% endif %}"><a class="nav-link" href="/downloads/">Downloads</a></li>
                <li class="nav-item{% if page.title == "Changelog" %} active{% endif %}"><a class="nav-link" href="/changelog/">Changelog</a></li>
                <li class="nav-item{% if page.title == "Screenshots" %} active{% endif %}"><a class="nav-link" href="/screenshots/">Screenshots</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.github }}">GitHub</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Docs</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="https://github.com/ShareX/CustomUploaders">Custom uploaders</a>
                        <a class="dropdown-item" href="/image-effects">Image effects</a>
                        <a class="dropdown-item" href="/docs/faq">Frequently asked questions</a>
                        <a class="dropdown-item" href="/docs/dev-builds">Dev builds</a>
                        <a class="dropdown-item" href="/docs/region-capture">Region capture keybinds</a>
                        <a class="dropdown-item" href="/docs/command-line-arguments">Command line arguments</a>
                        <a class="dropdown-item" href="/docs/translation">Translation</a>
                        <a class="dropdown-item" href="/docs/custom-uploader">Custom uploader guide</a>
                        <a class="dropdown-item" href="/docs/amazon-s3">Amazon S3 guide</a>
                        <a class="dropdown-item" href="/docs/google-cloud-storage">Google Cloud Storage guide</a>
                        <a class="dropdown-item" href="/docs/website-capture">Website capture</a>
                        <a class="dropdown-item" href="/brand-assets/">Brand assets</a>
                    </div>
                </li>
                <li class="nav-item"><a id="sharex-twitter" class="nav-link" href="https://twitter.com/GetShareX" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="manual" data-content="Follow us on Twitter!">Twitter</a></li>
                <li class="nav-item"><a class="nav-link" href="https://discord.gg/ShareX">Discord</a></li>
                <li class="nav-item"><a class="nav-link" href="http://store.steampowered.com/app/400040/">Steam</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.microsoft.com/store/apps/9nblggh4z1sp">Microsoft Store</a></li>
                <li class="nav-item{% if page.title == "Donate" %} active{% endif %}"><a class="nav-link" href="/donate/">Donate</a></li>
            </ul>
        </div>
    </div>
</nav>