---
layout: default
---

<nav class="navbar navbar-main navbar-compact">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ site.url }}">Home</a></li>
                <li><a href="http://imgur.com/a/7TDhO">Screenshots</a></li>
                <li><a href="https://www.youtube.com/watch?v=NB32QYt8WfI">Video</a></li>
                <li {% if page.title == "Features" %}class="active"{% endif %}><a href="{{ site.url }}/features/">Features</a></li>
                <li {% if page.title == "Changelog" %}class="active"{% endif %}><a href="{{ site.url }}/changelog/">Changelog</a></li>
                <li><a href="https://github.com/ShareX/CustomUploaders">Custom uploaders</a></li>
                <li><a href="https://github.com/ShareX/ShareX">GitHub</a></li>
                <li><a href="https://webchat.freenode.net/?channels=%23ShareX" title="#ShareX on irc.freenode.net">IRC</a></li>
                <li><a href="http://store.steampowered.com/app/400040/">Steam</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron jumbotron-compact">
    <div class="container">
        <h1>
            <a href="/">ShareX</a>
        </h1>
        <p>{{ page.title }}</p>
    </div>
</div>

{{ content }}